@model SAP_10.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.code_document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.code_document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registration_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registration_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.holiday_start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.holiday_start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.holiday_end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.holiday_end_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacation.VacationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrydnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sotrydnik.SotrydnikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
