@model SAP_10.Models.Vacation

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите это сделать?</h3>
<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vacation_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vacation_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vacation_pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vacation_pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.holiday_benefits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.holiday_benefits)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VacationId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Возврат к списку отпусков</a>
    </form>
</div>
