@model SAP_10.Models.Vacation

@{
    ViewData["Title"] = "Details";
}

<h1>Просмотр</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vacation_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vacation_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vacation_pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vacation_pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.holiday_benefits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.holiday_benefits)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VacationId">Редактировать</a> |
    <a asp-action="Index">Возврат к списку отпусков</a>
</div>
