@model IEnumerable<SAP_10.Models.Vacation>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Добавить отпуск</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vacation_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vacation_pay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.holiday_benefits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vacation_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vacation_pay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.holiday_benefits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VacationId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.VacationId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.VacationId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
