@model IEnumerable<SAP_10.Models.Sotrydnik>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Добавить нового сотрудника</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.job_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subdivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employment_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subdivision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employment_date)
            </td>
            <td>
                    <a asp-controller="Documents" asp-action="Index" asp-route-id="@item.SotrydnikId">Документ</a> |
                <a asp-action="Edit" asp-route-id="@item.SotrydnikId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.SotrydnikId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.SotrydnikId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
